Kubernetes/k8s/
Terraform/
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# בינאריים
terraform_*/terraform.exe

.venv
/terraform_1.12.2

